.intro {
    display: flex;
    justify-content: space-around;
}

.profile-img {
    width: 20vw;
    /* margin-bottom: 20vw; */
}

.intro-wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 3vw;
    align-items: flex-start;

    width: 50vw;
}

.intro-text-profile-img{
    display: none;
}

.intro-contact-button {
    color: #555;
    box-sizing: content-box;
    padding: .7vw 1.7VW;
    border: .1vw solid #aaa;
    font-size: 1.5vw;
    font-weight: bold;

    box-shadow: .3vw .3vw 0px 0px #aaa;
    justify-self: flex-end;
    
}

.intro-contact-button:active {
    transform: translate(.3vw, .3vw);
    box-shadow: none;
}

.intro-text {
    font-size: 3vw;
    font-weight: bold;
}

.intro-content {
    font-size: 1vw;
    color: #333;
}

.web-developer-tag {
    font-size: 2vw;
    padding: .7vw 1.7vw;
    background-color: #64AEF2;
    border-radius: 100vw;
    color: white;
}

@media (max-width: 1000px) {
    .profile-img {
        width: 30vw;
    }

    .intro-wrapper {
        width: 40vw;
    }

    .intro-content {
        font-size: 1.2vw;
    }

    .intro-contact-button {
        padding: 1vw 2vw;
        font-size: 2vw;
    }

    .intro-text {
        font-size: 4vw;
    }

    .web-developer-tag {
        font-size: 2.5vw;
        padding: 1vw 2vw;
    }
}

@media (max-width: 600px) {
    .intro {
        /* padding: 0; */
        padding: 0 8vw;
    }
    .intro-text-wrapper {
        display: flex;
        gap: 5vw;
    }
    .intro-text-profile-img {
        display: block;
        width: 15vw;
        height: 15vw;
        border-radius: 2vw;
        
    }
    .profile-img {
        width: 30vw;
        display: none;
    }
    .intro-wrapper {
        width: 100vw;
        gap: 5vw;
    }

    .intro-text {
        font-size: 5vw;
    }

    .web-developer-tag {
        font-size: 4.5vw;
    }

    .intro-content {
        font-size: 2.5vw;
    }

    .intro-contact-button {
        padding: 2vw 4vw;
        font-size: 4vw;
    }
}
