.skillset {
    /* background-color: #E8F4FF; */
    /* background-color: #F2F2F2; */
    /* padding-top: 5vw; */
    padding-bottom: 2vw;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;

    /* height: 55vw; */
}

.skillset-heading {
    font-size: 2vw;
    font-weight: bold;
    width: 100%;
    /* clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%); */
    /* padding: 1vw 5vw; */
    /* background-color: #64aef2; */
    color: black;
    border-bottom: .1vw solid black;
    /* width: 50%; */

    /* text-align: center; */
}



.skillset-heading span {
    color: #64aef2;
    font-size: 2.5vw;
}

.skillset-content-wrapper {
    background-color: #E8F4FF;
    height: 38vw;

}

.skillset-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    align-items: center;
    justify-content: center;

    /* display: grid; */
    /* grid-auto-flow: column dense; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* overflow-x: scroll; */

    
    width: 100vw;
    padding: 3vw 0;
    /* height: 38vw; */
}

.skill {
    opacity: 0;
    padding: 2vw;
    width: 20vw;
    height: 10vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: white;
    border-radius: 1vw;
    /* border: .1vw solid black; */

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skill-logo {
    width: 5vw;
}

.skill-stat {
    display: flex;
    flex-direction: column;
    gap: 1vw;

}

.skill-name {
    font-size: 1.2vw;
    font-weight: bold;
    color: #545454;
    padding-bottom: .5vw;
    border-bottom: .1vw solid #555;
}

.skill-level {
    display: flex;
    font-size: .8vw;
    align-items: center;
    gap: 1vw;
    font-weight: bold;
    align-items: center;

}

.skill-bar {
    width: 6vw;
    height: .7vw;
    background-color: #d9d9d9;
    border-radius: 7vw;
}



.skill-meter-4 {
    width: 5.5vw;
    height: .7vw;
    background-color: #54dc3e;
    border-radius: 100vw;
}

.skill-meter-3 {
    width: 4vw;
    height: .7vw;
    background-color: #ffe052;
    border-radius: 100vw;
}

.skill-meter-2 {
    width: 3vw;
    height: .7vw;
    background-color: #f0b04f;
    border-radius: 100vw;
}

.skill-meter-1 {
    width: 1vw;
    height: .7vw;
    background-color: #ff5252;
    border-radius: 100vw;
}


@media (max-width: 1000px) {
    .skillset-content-wrapper {
        height: 45vw;
    }
    .skillset-heading {
        font-size: 3vw;
    }

    .skillset-heading span {
        font-size: 3.5vw;
    }

    .skill {
        width: 26vw;
        height: 12vw;
    }

    .skill-logo {
        width: 7vw;
    }

    .skill-name {
        font-size: 1.5vw;
    }

    .skill-level {
        font-size: 1vw;
    }
}

@media (max-width: 600px) {
    .skillset {
        padding: 0;
    }
    .skillset-content-wrapper {
        height: 115vw;
    }
    .skillset-content {
        gap: 2vw;
    }
    .skillset-heading {
        /* padding: 0 3vw; */
        font-size: 5vw;
        width: 80vw;
    }

    .skillset-heading span {
        font-size: 4.5vw;
    }
    .skill {
        width: 45vw;
        height: 20vw;
    }

    .skill-logo {
        width: 15vw;
    }

    .skill-name {
        font-size: 3vw;
    }

    .skill-level {
        font-size: 1.8vw;
    }

    .skill-bar {
        width: 8vw;
        height: 1.3vw;
    }

    .skill-meter-4 {
        width: 7vw;
        height: 1.3vw;
    }

    .skill-meter-3 {
        width: 5vw;
        height: 1.3vw;
    }

    .skill-meter-2 {
        width: 4vw;
        height: 1.3vw;
    }

    .skill-meter-1 {
        width: 2vw;
        height: 1.3vw;
    }


}





