html {
    position: relative;
}

section {

    padding: 0 8vw 2vw 8vw;
    /* margin-bottom: 8vw; */
    /* padding-bottom: 8vw; */
}

a {
    color: #1B73BA;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2.5vw;
}

ul li {
    text-indent: 0;
   list-style-type: none;
}

@media (max-width: 1000px) {
    h2 {
        font-size: 3vw;
    }
}
@media (max-width: 600px) {
    section {
        padding: 0;
        margin-bottom: 5vw;
    }

    h2 {
        font-size: 5vw;
    }
}